.navbar {
    height: 53px;
    width: 96vw;
    padding: 0 15px;
    background: lightgreen;
}
.navbar button {
    float: right;
    background-color: azure;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}