
.node circle {
    fill: lightgreen;
    stroke: green;
    stroke-width: 1.5px;
}

.node text {
    font-size: 15px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: black;
    fill: black;
}

path.link {
    fill: none;
    stroke: #2593b8;
    stroke-width: 1.5px;
}